

#outerframe{
	font-family: sans-serif;
	color: blue;

	
}

.pagecontent{	
	height: 100%;
	width: 100%;
	position: relative;
	
}

.top{
	margin-bottom: 20px;
	width: 100%;
	border: 2px solid #1d2e3a;
	background: white;
	height: 100%;
	min-height: 650px;
	position: relative;
	margin: 0 auto;

}
/*
.left{
	width: 50%;
	border: 2px solid #1d2e3a;
	
}

.left img{
margin: 10%;
}

.right{
	border: 2px solid #1d2e3a;
	width: 50%;
}

.right ul{
	list-style-type: none;
}
*/
.top input{
	
	margin: 0 auto;
width: 225px;
height: 45px;
font-size: 14px;
font-weight: normal;
}
.freshbutton-blue{
-webkit-appearance: none;
-webkit-user-select: none;
-webkit-tap-highlight-color: transparent;
color: #fff;
border: 1px solid #1c74b3;
border-top-color: #2c8ed1;
border-bottom-color: #0d5b97;
background: #2181cf;
border-radius: 3px;
text-align: center;
padding: 5px 16px;

}


.freshbutton-blue:hover{
	border: 1px solid #1c74b3;
border-top-color: #2c8ed1;
border-bottom-color: #0d5b97;
background: #2389dc;
background: -webkit-gradient(linear, left top, left bottom, from(#3baaf4), to(#2389dc));
}


.feature{
	padding:100px 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
}

.feature img{
	opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
max-height: 50%;

}

.feature img:hover{
	opacity:0.9;
filter:alpha(opacity=90); /* For IE8 and earlier */
}


	form span {
		color:black;
	}
	form span.valid {
		color:green;
	}
	form span.error {
		color:red;
	}

#map{
	width: 100%;
	min-height: 300px;
	margin: 0 0 4% 0;
	
}



